@font-face {
  font-family: SqueakyChalkSound;
  src: url(../fonts/SqueakyChalkSound.ttf);
}

body {
    background-color: gray;
    background-image: url(../img/chalkboard.jpeg);
    background-size: cover;

	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: SqueakyChalkSound;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: white;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

button {
  margin: 20px;
}

.square {
  border: 3px solid white;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

#style-toggle {
  font-family: SqueakyChalkSound;
  position: absolute;
  top: 10px;
  right: 15px;
}

#ga-logo {
  width: 50px;
  height: 50px;
}

#sq0 {
 border-width: 0 3px 3px 0px;
}
#sq1 {
  border-width: 0 3px 3px 3px;
 }
 #sq2 {
  border-width: 0 0 3px 3px;
 }
 #sq3 {
  border-width: 3px 3px 3px 0;
 }
 #sq5 {
  border-width: 3px 0 3px 3px;
 }
 #sq6 {
  border-width: 3px 3px 0 0;
 }
 #sq7 {
  border-width: 3px 3px 0 3px;
 }
 #sq8 {
  border-width: 3px 0 0 3px;
 }
